* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(128, 128, 128, 0.158);
}

@media (max-width: 1620px) {
  .forecast-container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
  }
}

@media (max-width: 1300px) {
  .forecast-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }
}

@media (max-width: 975px) {
  .forecast-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
  }
}

@media (max-width: 675px) {
  .forecast-container {
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
    row-gap: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}